body {
  font-family: 'Brandond grotesque', sans-serif;
  font-size: 15px;
}

h1{
  font-size: 40px;
  color: grey;
}
h2{
  font-size: 30px;
  color: grey;
}
h3 {
  font-size: 25px;
  font-weight: 600;
  color: grey;
}
p {
  
}
