body {
  font-family: "Brandon Grotesque";
  font-size: 15px;
}

h1{
  font-size: 40px;
  color: grey;
  font-weight: 400;
}
h2{
  font-size: 30px;
  color: grey;
  font-weight: 400;
}
h3 {
  font-size: 25px;
  font-weight: 400;
  color: grey;
}
p {
  font-weight: 400;
  color: grey;
}
