.card{
  background-color: #fff;
  box-shadow: 0 0 3px rgba(#000, 0.15);
  width: 30%;
  overflow: hidden;
  padding: 10px;
  display: inline-block;
  margin: 10px;
}

.card__image{
  width: 200px;
  margin: 0 auto;
  img{
    width: 100%;
  }
}


.card__header{

}

.card__body{
  width: 99%;
  margin: 0 auto;
}

.card__button{
  padding: 10px;
}
