$color-primary-0: #FC3447;
$color-primary-1: #F80018;
$color-primary-2: #FB0920;
$color-primary-3: #FD5D6C;
$color-primary-4: #FE8C97;

$color-secondary-0: #FF8D35;
$color-secondary-1: #FF6700;
$color-secondary-2: #FF7409;
$color-secondary-3: #FFA45D;
$color-secondary-4: #FFBE8D;

$color-tertiary-0: #00AB99;
$color-tertiary-1: #08D3BD;
$color-tertiary-2: #2EDDCA;
$color-tertiary-3: #54E6D6;
$color-tertiary-4: #84EFE3;

$color-grey-2: grey;
$color-grey-3: lightgrey;
$color-grey-4: #f8f8f8;

$border-color: $color-grey-3;

$border-radius: 50px;

$font-size: 15px;
$font-size-sm: 10px;
$font-size-m: 13px;
$font-size-l: 20px;
